.vis-rich-text-editor {
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;

    &__tools {
        background: #eee;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #ddd;

        &--disable {
            pointer-events: none;

            .vis-rich-text-editor__tool-icon {
                color: #ccc;
            }
        }

        .cv-icon {
            font-size: 18px;
        }
    }

    &__mode-tool {
        pointer-events: auto;

        .vis-rich-text-editor__tool-icon {
            color: #222;
        }
    }

    &__tool {
        margin-right: 20px;
        cursor: pointer;
        text-align: center;
    }

    &__tool-icon {
        color: #222;
    }

    &__right-tools {
        border-left: 1px solid #ddd;
        padding: 10px;
        background: #eee;
    }

    &__right-tool {
        cursor: pointer;
        margin-bottom: 8px;
    }

    &__tool-h {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__main {
        flex-grow: 1;
        position: relative;
        font-size: 14px;
    }

    &__view {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 10px;
        outline: none;
        overflow: auto;

        img[data-binding] {
            cursor: pointer;
        }
    }

    &__code {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 10px;
        border: none;
        outline: none;
    }
}

.vis-rich-text-editor-table-tool {
    margin-top: -12px;

    &__form {
        padding-left: 10px;
    }

    &__form-row {
        height: 30px;
        margin-bottom: 10px;
    }

    &__form-input {
        width: 100px;
    }

    &__form-select {
        width: 60px;
    }

    &__form-button {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }

    &__edit-button {
        margin-bottom: 10px;
    }
}

.vis-rich-text-editor-link-tool {
    &__button {
        display: flex;
        justify-content: end;
    }
}

.vis-rich-text-editor-color {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    &__item {
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        border: 1px solid #ccc;
        cursor: pointer;
    }
}
