[data-theme='light'] {
  --primary-bg-color: #fff;
  --primary-text-color: #000;
}

[data-theme='dark'] {
  /*--primary-bg-color: #2c3e50;
  --primary-text-color: #fff;*/
  --primary-bg-color: #fff;
  --primary-text-color: #000;
}